<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p>{{title}}</p>
  <div class="container" *ngIf="mainImage">

    <div class="prevImage btn" (click)="prev()">
      <img *ngIf="prevImage" class="thumbinail" src="{{prevImage.thumbnailUrl}}">
    </div>

    <div class="show">
      <img class="mainImage" src="{{mainImage.url}}">
      <p>{{mainImage.title}}</p>
    </div>

    <div class="nextImage btn" (click)="next()">
      <img *ngIf="nextImage" class="thumbinail" src="{{nextImage.thumbnailUrl}}">
    </div>

  </div>


</div>

